<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.windworkshop.bphime">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.HistoryDanmuActivity"/>
        <activity android:name=".activity.GiftStatisticsActivity"/>
        <activity android:name=".activity.WebLoginActivity"/>
        <service
            android:name=".service.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>